body{
  background-image: linear-gradient(to bottom, #105111, #051c06);
  }

main {
    display: grid;
grid-template-columns: auto;
grid-template-rows: auto;
place-items: center;
background-image: url('https://www.whats-on-netflix.com/wp-content/uploads/2022/08/maxresdefault-cleanup.webp');

}
/* Styles for the header */
header {
    background-image: linear-gradient(to bottom, #4CAF50, #0d4810);
    color: white;
    text-align: center;
    padding: 20px;
    margin-inline-start: 1fr;
    margin-inline-end: 1fr;
    text-shadow: 2px 2px 10px #000000;
  }
  
  /* Styles for the nav */
  nav {
    background-color: #f1f1f1;
    padding: 10px;
    text-align: center;
  }
  
  /* Styles for card container */
  /* #card-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
    justify-content: center;
  } */
  
  /* Styles for each card */
  .card-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 15px; 
    border: 1px solid;
    border-radius: 25px;
    box-shadow: 4px 4px 20px rgb(3, 47, 3);
    height: fit-content;
    width: fit-content;
    background-image: linear-gradient(to bottom, #4CAF50, #0d4810);

  }
  /* Styles for each card */
#character-card {
    display: flex;
    flex-direction: column; /* aligns the items inside the card vertically(column) */
    align-items: center; /* centers the items inside the card horizontally and vertically */
    justify-content: center; /* centers the items inside the card horizontally and vertically */
    width: fit-content;
    height: fit-content;
    border: 5px solid white; /* adds a 1px gray solid border to the card*/
    margin: 10px; /* adds a 10px margin to the card */
    background: black;
    border-radius: 45px;
    color: white;
    font-weight: bold;
}
  
  #character-img {
    border: solid white 5px;
    border-radius: 30px;
    margin: 10px;
    height: 30%;
  }
  /* Styles for the species buttons */
  #button-container button {
    justify-content: center;
    margin: 10px;
    padding: 10px;
    border-radius: 10px;
    border: none;
    background-image: linear-gradient(to bottom, #4CAF50, #0d4810);
    color: white;
    box-shadow: 4px 4px 20px rgb(3, 47, 3);
    cursor: pointer;
    font-weight: bold;
  }
  
  /* Styles for the score */
  #score {
    font-weight: bold;
  }
  @keyframes spin {
    from {transform: rotate(0deg);}
    to {transform: rotate(360deg);}
  }
  
  .spin:hover{
    animation: spin 1s linear;
  }
  
  @keyframes slide {
    from{transform: perspective();}
    
  }
  /* #character-card {
  transition: all 0.5s;
  transform-style: preserve-3d;
} */

#character-card:hover {
    animation: spin 1s linear;
}

nav {
    background-image: linear-gradient(to bottom, #4CAF50, #0d4810);
    border: 2px solid black;
    
}
footer {
    background-image: linear-gradient(to bottom, #4CAF50, #0d4810);

 color: white;
}
.dropdown-section{
    justify-content: center;
    margin: 10px;
    padding: 10px;
    border-radius: 10px;
    border: none;
    background-image: linear-gradient(to bottom, #4CAF50, #0d4810);
    color: white;
    box-shadow: 4px 4px 20px rgb(3, 47, 3);
    cursor: pointer;
    font-weight: bold;
  }
  .welcome {
    color: white;
    text-align: center;
    text-shadow: 2px 2px 10px #000000;
  }